[Desktop Entry]
Name=AiiDAlab 
Comment=AiiDAlab application hosted by Apptainer
Exec=/absolute/path/to/startup.sh # Edit path if moving file 
Icon=/absolute/path/to/images/alc.svg 
Terminal=true
Type=Application
Categories=Utilities